.createorjoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.create {
  padding: 10px;
}
.create > h4 {
  padding-bottom: 10px;
  color: white;
}
.join{
  color: aliceblue;
}
.create > button {
  background-color: white;
  color: green;
  height: 35px;
  width: 150px;
}
.hide{
  display: none;
}
.nohide{
  display: inline;
}

