.createorjoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: flex-start;
  flex-grow: 1;
  overflow: auto;
  padding-top: 60px;
}

.create {
  padding: 10px;
  font-size: 20px;
  /* color: #fff;
  text-shadow: 0 0 10px white, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;*/
}

.create > h4 {
  padding-bottom: 10px;
  color: black !important;
}
.join {
  color: black !important;
}
.create > button {
  background-color: white;
  color: green;
  height: 35px;
  width: 150px;
}
.hide {
  display: none;
}
.nohide {
  display: inline;
}
