.createorjoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.create {
  padding: 10px;
}
.create > h4 {
  padding-bottom: 10px;
}
.create > button {
  background-color: white;
  color: green;
  height: 35px;
  width: 150px;
}

