.pointtable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pointtable-table {
  width: 700px;
  height: auto;
}
.pointtable-head > th {
  background-color: black;
  padding: 10px;
}
.pointtable-body {
  background-color: skyblue;
}

th {
  border-radius: 3px;
  height: 35px;
  color: white;
}
td {
  border-radius: 3px;
  height: 35px;
  color: black;
}
.pointtable>h2 {
  color: black !important;
}

@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .pointtable-table {
    width: 100%;
  }
  th,
  td {
    width: 100%;
    text-align: center;

  }firebas
  th {
    text-align: center;
  }
}