.join {
    display: flex;
  }
  .tournaments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    border-bottom: 1px solid gray;
    padding: 10px;
  }
  .tournament-name{
    flex: 0.4;
    text-align: start;
  }
  .tournament-slots{
    flex: 0.3;
    display: flex;
    justify-content: space-between;
  }
  .tournament-button{
    flex: 0.3;
  }

  .tournament-button {
    background-color: white;
    color: blue;
    height: 35px;
    margin-left: 20px;
  }
  .tournament-button:hover {
    background-color: lightblue;
  }
